<div class="form">
<%= simple_form_for @pig do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :breed %>
  <%= f.input :details %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
