<%# navbar %>
<div class="form">
<%= simple_form for @pig do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :breed %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
