<%# navbar %>
<div class="container">
  <div class="pig-photo-show">
    <%= cl_image_tag @pig.photo.key %>
  </div>
  <div class="pig-info-show">
    <h2><%= @pig.name %></h2>

    <div class="basic-info">
      <p>Age: <%= @pig.age %></p>
      <p>Breed: <%= @pig.breed %></p>
      <p>Owner: <%= @pig.user %></p>
    </div>

    <div class="details">
    <p><%= @pig.details %></p>
    </div>

  </div>
</div>
